transformers
sentencepiece
deepspeed
datasets
peft
rich
jsonlines
openai
einops
fire
tensorboard
python-dotenv
beautifulsoup4
slimit @ git+https://github.com/rspivak/slimit.git@3533eba9ad5b39f3a015ae6269670022ab310847
colorama
